body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3a5f67;
  color: #ffffff;
}
ul {
  li {
    list-style-type: none;
  }
}
p {
  margin: 0;
}

#main-container {
  padding: 0px;
  padding-bottom: 50px;
  #content-container {
    padding-top: 100px;
    .inner-container {
      background: rgba(0,0,0,0.4);
      margin: 0;
      padding: 7px;
      display: flex;
      h2 {
        font-size: 22px;
        text-transform: uppercase;
      }
      .content-data {
        background: rgba(0,0,0,0.4);
      }
      .inner-data-1, .inner-data-2 {
        width: 100%;
      }
    }
  }
}

// data tables
.table {
  color: #fff;
  margin-bottom: 0;
  thead > tr {
    .header {
      text-transform: uppercase;
      font-size: 13px;
      padding: 15px 10px;
      border-bottom: 1px solid #3a5f67;
      border-top: 0;
      font-weight: 400;
    }
  }
  .data {
    border-bottom: 1px solid #22393f;
    font-size: 13px;
    vertical-align: middle;
    padding: 10px;
    img {
      width: 56px;
      height: 32px;
    }
  }
  .heroesplayed-data, .friends-data {
    img {
      width: 32px;
    }
  }
}

// game result style
.won {
  color: #50a654;
}
.lost {
  color: #e3323a;
}

// media queries standard
@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  #main-container {
    #content-container {
      .inner-container {
        display: block;
      }
    }
  }
}
  
@media screen and (max-width: 767px) {
/* start of medium tablet styles */
}

@media screen and (max-width: 479px) {
/* start of phone styles */
}
