<template>
  <div id="viewMatches">
    <b-container fluid id="main-container">
      <Header />
    </b-container>
  </div>
</template>

<script>
import Header from '@/components/Header'

export default {
  name: 'ViewMatches',
  components: {
    Header
  }
}
</script>

<style lang="scss" scoped>

</style>
